main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    column-gap: 3rem;
}

.ImageContainer {
    flex: 1 1 60%;
    max-width: 46.25rem;
    height: 100%;
    object-fit: cover;
}

.ImageContainer img {
    width: 100%;
    height: 100%;
    max-height: inherit;
    margin-right: 15rem;
}

@media (max-width: 767px) {
    .ImageContainer {
        display: none;
    }
}

.FormContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;

}

.FormContainer form {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FormContainer h1 {
    color: rgb(68, 64, 64);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

.formElement {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.25rem auto;
    width: calc(100% - 2rem);
}

.formElement .formLabel {
    order: 1;
}

.formElement .formInput {
    order: 2;
    width: calc(100% - 2rem);
}



.formElement .formHelper {
    order: 3;
    margin-left: 0.25rem;
    font-size: 0.8rem;
    font-weight: 300;
    /* margin-bottom: 0.25rem; */
}

.formInput {
    order: 2;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: 0.25rem;
    background: rgba(214, 213, 213, 0.051);
    width: 100%;
    backdrop-filter: blur(10px);
    opacity: 0.95;
    color: rgba(36, 126, 141, 0.9019607843);
    font-weight: 600;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    caret-color: #007acb;
}

.formInput::placeholder {
    opacity: 0.75;
    color: #626975;
}

.formInput:focus {
    border-color: #0691ee;
}

.formInput:focus::placeholder {
    opacity: 1;
}

.formLabel {
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
    opacity: 0.8;
}


.formSubmit {
    display: inline-flex;
    color: #fff;
    background: #149eca;
    font-weight: 700;
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1019607843);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;
    border: 0;
    padding: 0.625rem 1.5rem 0.5rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    min-width: 15rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    opacity: 0.9;
    margin: 2rem auto;
}

.formSubmit:hover,
.formSubmit.active {
    opacity: 1;
    background: #149eca;
    color: white;
    transform: translateY(-0.1rem);
}

.Loader {
    position: fixed;
    z-index: 99;
    background-color: #65656500;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wifiLoader {
    --background: #62ABFF;
    --front-color: #4F29F0;
    --back-color: #C3C8DE;
    --text-color: #414856;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wifiLoader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wifiLoader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

.wifiLoader svg circle.back {
    stroke: var(--back-color);
}

.wifiLoader svg circle.front {
    stroke: var(--front-color);
}

.wifiLoader svg.circleOuter {
    height: 86px;
    width: 86px;
}

.wifiLoader svg.circleOuter circle {
    stroke-dasharray: 62.75 188.25;
}

.wifiLoader svg.circleOuter circle.back {
    -webkit-animation: circle-outer 1.25s ease infinite 0.3s;
    animation: circle-outer 1.25s ease infinite 0.3s;
}

.wifiLoader svg.circleOuter circle.front {
    -webkit-animation: circle-outer 1.25s ease infinite 0.15s;
    animation: circle-outer 1.25s ease infinite 0.15s;
}

.wifiLoader svg.circleMiddle {
    height: 60px;
    width: 60px;
}

.wifiLoader svg.circleMiddle circle {
    stroke-dasharray: 42.5 127.5;
}

.wifiLoader svg.circleMiddle circle.back {
    -webkit-animation: circle-middle 1.25s ease infinite 0.25s;
    animation: circle-middle 1.25s ease infinite 0.25s;
}

.wifiLoader svg.circleMiddle circle.front {
    -webkit-animation: circle-middle 1.25s ease infinite 0.1s;
    animation: circle-middle 1.25s ease infinite 0.1s;
}

.wifiLoader svg.circleInner {
    height: 34px;
    width: 34px;
}

.wifiLoader svg.circleInner circle {
    stroke-dasharray: 22 66;
}

.wifiLoader svg.circleInner circle.back {
    -webkit-animation: circle-inner 1.25s ease infinite 0.2s;
    animation: circle-inner 1.25s ease infinite 0.2s;
}

.wifiLoader svg.circleInner circle.front {
    -webkit-animation: circle-inner 1.25s ease infinite 0.05s;
    animation: circle-inner 1.25s ease infinite 0.05s;
}

.wifiLoader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.wifiLoader .text::before,
.wifiLoader .text::after {
    content: attr(data-text);
}

.wifiLoader .text::before {
    color: var(--text-color);
}

.wifiLoader .text::after {
    color: var(--front-color);
    -webkit-animation: text-animation 3.6s ease infinite;
    animation: text-animation 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@-webkit-keyframes circle-outer {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-outer {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@-webkit-keyframes circle-middle {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-middle {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@-webkit-keyframes circle-inner {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes circle-inner {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@-webkit-keyframes text-animation {
    0% {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
    }

    50% {
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
    }

    100% {
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes text-animation {
    0% {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
    }

    50% {
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
    }

    100% {
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
    }
}