body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-primary-app{
  color: #080613;
}
.color-text-app{
  color: #ffffff;
}
.vertical-nav {
  min-width: 16rem;
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-position-default{
  margin-left: 16rem;
  position: fixed;
}
.my-2rem{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-4rem{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.w-100-percent{
  width: 100%;
}
