*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.myicons_container{
  position: fixed;
        bottom: 2rem;
}

.side_nav_container{
  position: fixed;
        top: 8rem;
}
.side_nav_container_logo{
  position: fixed;
        top: 1rem;
}
/* body div{
  background-color: #000;
  color: #eee;
}
body div div div{
  background-color: #000;
  color: #eee;
} */

.NavSearch {
  width: 500px;
}
.sidenav-link {
  display: flex;

  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #eee;
  color: #000;
  outline: none;
  margin-bottom: 0.5rem;
}
.sidenav-link i{
  pointer-events: none;
  user-select: none;
  margin-right: .5rem;
  font-size: 1rem;

}

